<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import Modal from '@/Components/Modal.vue';
import {Head, useForm} from '@inertiajs/vue3';
import {onMounted, ref} from 'vue';
import TextInput from "@/Components/TextInput.vue";
import DangerButton from "@/Components/DangerButton.vue";
import SecondaryButton from "@/Components/SecondaryButton.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import InputLabel from "@/Components/InputLabel.vue";

const employees = ref([]);
const getEmployees = async () => {
    axios.get(route('employee.index')).then(response => {
        employees.value = response.data;
    });
};

let restaurants = [];
const getRestaurants = async () => {
    axios.get(route('restaurant.index')).then(response => {
        restaurants = response.data;
    });
};


onMounted(() => {
    getEmployees();
    getRestaurants();
});

function deleteEmployee(employee) {
    const c = confirm(`do you want to delete [${employee.id} - ${employee.name}] ?`);
    if (!c) {
        return;
    }
    axios.delete(route('employee.destroy', [employee.id])).then(response => {
        alert('Deleted Successfully');
        getEmployees();
    });
}

const employeeForm = useForm({
    id: 0,
    first_name: '',
    last_name: '',
    email: '',
    max_restaurant_assigned: 0,
    restaurants: [],
    processing: false
});

const openingEmployeeForm = ref(false);
function openEmployeeModal() {
    openingEmployeeForm.value = true;
}
function closeEmployeeModal() {
    openingEmployeeForm.value = false;
    employeeForm.reset();
}

function editEmployee(employee) {
    employeeForm.id = employee.id;
    employeeForm.first_name = employee.first_name;
    employeeForm.last_name = employee.last_name;
    employeeForm.email = employee.email;
    employeeForm.max_restaurant_assigned = employee.max_restaurant_assigned;
    employeeForm.restaurants = employee.restaurants.map((r) => r.id);
    openEmployeeModal();
}

function saveEmployee() {
    if (employeeForm.first_name.trim() === '') {
        alert('Please enter first name');
        return;
    }
    if (employeeForm.last_name.trim() === '') {
        alert('Please enter last name');
        return;
    }
    if (employeeForm.email.trim() === '') {
        alert('Please enter email');
        return;
    }
    if (employeeForm.max_restaurant_assigned === 0) {
        alert('Please enter maximum number of restaurants');
        return;
    }
    if (employeeForm.id !== 0) {
        updateEmployee();
    } else {
        createEmployee();
    }
}

function createEmployee() {
    employeeForm.post(route('employee.store'), {
        onSuccess: () => {
            alert('Created successfully!');
            getEmployees();
            employeeForm.reset();
        }
    });
}

function updateEmployee() {
    employeeForm.put(route('employee.update', [employeeForm.id]), {
        onSuccess: () => {
            alert('Updated successfully!');
            getEmployees();
            employeeForm.reset();
        }
    });
}
</script>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">You're logged in!</div>
                    <PrimaryButton @click.prevent="openEmployeeModal">
                        Create new employee
                    </PrimaryButton>
                    <table class="table-auto w-full">
                        <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Email</th>
                                <th>Restaurant Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="employee in employees" class="text-center border-solid border">
                                <td>{{ employee.id }}</td>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.email }}</td>
                                <td>{{ employee.restaurants.map((r) => r.name).join() }}</td>
                                <td>
                                    <DangerButton @click.prevent="deleteEmployee(employee)" class="mr-1">
                                        Delete
                                    </DangerButton>

                                    <PrimaryButton @click.prevent="editEmployee(employee)">
                                        Edit
                                    </PrimaryButton>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <Modal :show="openingEmployeeForm" @close="closeEmployeeModal">
            <div class="p-6">
                <h2 class="text-lg font-medium text-gray-900">
                    <span v-if="employeeForm.id === 0">Create New Employee</span>
                    <span v-if="employeeForm.id !== 0">Update Employee [{{employeeForm.id}} - {{employeeForm.first_name}} {{employeeForm.last_name}}]</span>
                </h2>

                <div class="mt-6">
                    <InputLabel for="first_name" value="First Name"/>
                    <TextInput v-model="employeeForm.first_name" id="first_name" class="w-full"/>
                </div>
                <div class="mt-6">
                    <InputLabel for="last_name" value="Last Name" />
                    <TextInput v-model="employeeForm.last_name" id="last_name" class="w-full"/>
                </div>
                <div class="mt-6">
                    <InputLabel for="email" value="Email" />
                    <TextInput v-model="employeeForm.email" id="email" class="w-full"/>
                </div>
                <div class="mt-6">
                    <InputLabel for="max_restaurant_assigned" value="Maximum number of restaurants" />
                    <TextInput v-model="employeeForm.max_restaurant_assigned" id="max_restaurant_assigned" class="w-full"/>
                </div>
                <div class="mt-6">
                    <InputLabel for="restaurants" value="Restaurants" />
                    <select class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm w-full"
                            id="restaurants" name="restaurants[]" multiple v-model="employeeForm.restaurants"
                    >
                        <option v-for="restaurant in restaurants" :value="restaurant.id">
                            {{ restaurant.name }}
                        </option>
                    </select>
                </div>

                <div class="mt-6 flex justify-end">
                    <SecondaryButton @click="closeEmployeeModal"> Cancel </SecondaryButton>
                    <DangerButton
                        class="ms-3"
                        :disabled="employeeForm.processing"
                        @click.prevent="saveEmployee"
                    >
                        <span v-if="employeeForm.id === 0">Create</span>
                        <span v-else>Update</span>
                    </DangerButton>
                </div>
            </div>
        </Modal>
    </AuthenticatedLayout>
</template>
